@model PurchaseViewModel

@{
    ViewData["Title"] = "buy";
}


<form method="post" asp-antiforgery="true">
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Введите свое имя</label>
        <input type="text" class="form-control" id="exampleInputPassword1" name="Person">
    </div>
    <div class="mb-3">
        <input type="hidden" value="@ViewBag.ProductId" name="ProductId" />
        <label for="exampleInputEmail1" class="form-label">Введите адрес доставки:</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Ул. Ленина" name="Address">
        <div id="emailHelp" class="form-text">По данному адресу курьер привезет вам товар.</div>
    </div>
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>

