
@model List<ProductViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<div class ="table-responsive">
    <h3>Список</h3>
    <table class="table align-middle">
        <tr>
            <td><p>Наименование</p></td>
            <td><p>Цена</p></td>
            <td></td>
        </tr>
        @foreach ( var m in Model )
        {
            <tr>
                <td><p>@m.Name</p></td>
                <td><p>@m.Price</p></td>
                <td><p><a href="/Home/Buy/@m.Id">Купить</a></p></td>
            </tr>
        }
    </table>
</div>